body {
    font-family: Arial, sans-serif;
    background-image: url('https://e0.pxfuel.com/wallpapers/658/323/desktop-wallpaper-mint-green-aesthetic-pastel-green-aesthetic.jpg');
    background-size: 100%;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  th {
    background-color: #4CAF50;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }
